<div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">Car Id</span>
    <input type="number" class="form-control" [(ngModel)]="carId"  placeholder="" aria-label="car id" aria-describedby="addon-wrapping" required>
  </div>

    <div class="button">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-sm">Submit</button>
       </div>

       <div class="lot-of-car">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Your car in lot</span>
            <input type="text" class="form-control"   placeholder="" aria-label="car id" aria-describedby="addon-wrapping" required>
          </div>
       </div>
       


  