div{
    width: 60%;
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: 150px;
}
.button{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 450px;
   
}
.lot-of-car{
    width: 50%;
}