<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Where?</title>
    
</head>
<body>
  <!--navbar for bage -->
  <header>
    <div class="navBar">
      <nav class="nav">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <h2>Where?</h2>
          </li>
          <li class="nav-item">
            <a class="nav-link active "  aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/bookNow" >Book Now</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="/bookLater" role="button" aria-expanded="false">Book Later</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" aria-current="page" routerLink="/bookLater/personal">Personal</a></li>
              <li><a class="dropdown-item" aria-current="page" routerLink="/bookLater/company">Company</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/findCar">Find My Car</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main >
    
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    
    
  </main>
  

</body>
</html>
